.concepts {
  position: relative;
  margin-top: 4rem;

  @media only screen and (max-width: 768px) {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 2rem;
    left: -3rem;
    width: 30rem;
    height: 30rem;
    border: 3px solid #ffd361;
    z-index: -1;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  & .concept-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    background-color: #0d3b66;
    padding: 2rem;
    margin: 6rem 0;
    width: 40rem;
    z-index: 2;

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
    }

    & h3 {
      color: #ffffff;
      margin-bottom: 2rem;
    }

    & p {
      color: #ffffff;
    }

    & .concept-buttons {
      display: flex;
      justify-content: flex-end;

      & button {
        border: none;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        color: #0d3b66;
        background-color: #ffd361;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  & .concept-img {
    position: relative;
    overflow: hidden;
    margin-left: -5rem;
    height: 40rem;
    width: 40rem;
    z-index: 1;
    background-color: #ffd361;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 25rem;
      margin-left: 0;
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
